html,body{height:100%; margin:0 auto;padding: 0;}
.olControlLTOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
	background-color: #FFFFFF;
}
.olControlLTOverviewMapElement {
    border-left:1px solid #999999 !important;
	border-top:1px solid #999999 !important;
	padding-top: 5px !important;
	padding-left: 5px !important;
	/*border:1px solid #000000 !important;
	
	padding: 4px 4px 4px 4px !important;
	padding: 1px 1px 1px 1px;
	background-color: #ffffff !important;
	background-color: #ffffff;
	-moz-border-radius: 1em 0 0 0;
	border:1px solid #000000;*/
	
}

.olControlLTOverviewMapMinimizeButton {
	right: 0px;
	bottom: 0px !important;
	bottom: 0px;
}    

.olControlLTOverviewMapMaximizeButton {
	right: 0px;
	bottom: 0px !important;
	bottom: 0px;
}

.olControlLTOverviewMapExtentRectangle {
	overflow: hidden;
	/*background-image: url("rect.gif");
	background-repeat: no-repeat;
	background-position: center;*/
	cursor: move;
	border: 2px ridge  blue !important;
	border: 2px ridge  blue;
	background:#D8DDE9;/*background:#69F;*/
	filter:alpha(opacity=50);/* IE */ 
	-moz-opacity:0.5;/* Moz + FF */ 
	opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.olControlLTOverviewMapRectReplacement {
	overflow: hidden;
	cursor: move;
	background-image: url("overview_replacement.gif");
	background-repeat: no-repeat;
	background-position: center;
	
} 
.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
	border:1px solid #999999;
}