#map {  
            width: 100%;  
            height: 100%;  
            position: absolute;  
        }  
  
#menu {  
            float: left;  
            position: absolute;  
            bottom: 10px;  
            left: 10px;  
            z-index: 2000;  
        }  
  
.checkbox {  
            left: 20px;  
        }  
        /**  
        * 提示框的样式信息  
        */  
.tooltip {  
            position: relative;  
            background: rgba(0, 0, 0, 0.5);  
            border-radius: 4px;  
            color: white;  
            padding: 4px 8px;  
            opacity: 0.7;  
            white-space: nowrap;  
        }  
  
.tooltip-measure {  
            opacity: 1;  
            font-weight: bold;  
        }  
  
.tooltip-static {  
            background-color: #ffffff;  
            color: black;  
            border: 1px solid white;  
        }  
  
.tooltip-measure:before,  
.tooltip-static:before {  
                border-top: 6px solid rgba(0, 0, 0, 0.5);  
                border-right: 6px solid transparent;  
                border-left: 6px solid transparent;  
                content: "";  
                position: absolute;  
                bottom: -6px;  
                margin-left: -7px;  
                left: 50%;  
            }  
  
.tooltip-static:before {  
                border-top-color: #ffffff;  
            }  
  
#scalebar {  
            float: left;  
            margin-bottom: 10px;  
        }  