#plotBtn {
    background: url(../img/plot/plot.png);
    margin: 0;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 160px;
    right: 0px;
    width: 66px;
    height: 42px;
}

#clearDIV {
    position: absolute;
    top: 220px;
    right: 10px;
    width: 50px;
    height: 50px;
}

#clear{
	border: none;
    cursor: pointer;
    width: 58px;
    height: 58px;
    background: url(../img/plot/button.png);
}

.drawBox{
	top:200px;
	bottom:150px;
	right:70px;
	width:300px;
	height:250px;
	position:absolute;
	z-index:999999;
	background-color:white;
	border:1px solid #99bbe8;
	box-shadow: 0 0 8px #000000;
}
.drawBox .title{
	width:100%;
	margin-top:0px; 
	border-bottom: 1px solid #99bbe8;
}
.drawBox .title td{
	height:22px; 
	background-repeat:repeat-x;
}
.drawBox .title .close{
	cursor:hand;
	cursor: pointer;
}
.drawBox .content{
	width:100%;
	margin-top:0px;
}
.drawBox .content .drawBrush{
	top:23px;
	left:1px;
	height:420px;
	margin:0;
	padding:0;
}
.drawBox .content .drawBrush td{
	margin:0;
	padding:0;
}
.drawBox .content .selBH{
	top:23px;
	border-left: 1px solid #99bbe8;
	width:276px;
	height:33px;
	left:50px;
	overflow-y:auto;
	font-size:12px;
}
.DefineTopicTextCtl
{
    width:150px;  
    border-bottom:solid 1px #333333; 
    border-left:none; 
    border-right:none; 
    border-top:none; 
    margin-top:4px;
    width:130px;
    text-align:left
}

.drawPicStyle{
	width:66px;
	height:52px;
	padding:1px 1px;
	margin:2px 4px;
	cursor:hand;
	border:2px solid white;
	display:block;
	float:left;
	text-align: center;
}
.drawPicStyle2{
	width:32px;
	height:32px;
	padding:1px 1px;
	margin:2px 2px;
}
.drawPicName{
	font-size:10px;
	width:65px;
}
#drawUpdateDiv{
	display:none;
}
.drawPicStyle3{
	width:40px;
	height:32px;
	padding:1px 1px;
	margin:2px 2px;
	cursor:hand;
	border:2px solid white;
}
.drawPicOver{	
	cursor:hand;
	border:2px solid #89a;
	background-color: #B5D2FE;
}
.drawPicSelected{
	cursor:hand;
	border:2px solid blue;
	background-color: #89a;
}
.drawPic{
	top:58px;
	width:245px;
	height:387px;
	left:50px;
	overflow-y:auto;
	font-size:12px;
}
